<div id="temp-flex">
  <!-- <img id="mimic-logo" src="../assets/images/mimic2.svg" alt="mimicky"> -->
  <h2>mymyc</h2>

  <mat-tab-group dynamicHeight="true" mat-align-tabs="center" animationDuration="1000ms" selectedIndex=0>
    <mat-tab label="Generate">
      <ng-template mat-tab-label>
        <button [matMenuTriggerFor]="Menu" id="nested-tab-holder">Generate</button>
      </ng-template>

      <mat-menu #Menu="matMenu">
          <button (click)="changeDomain(0)" mat-menu-item>Home</button>
          <button (click)="changeDomain(1)" mat-menu-item>Life</button>
          <button (click)="changeDomain(2)" mat-menu-item>Auto</button>
      </mat-menu>
      
      <ng-template [ngIf]="isLife">
        <app-scenario-table></app-scenario-table>
      </ng-template>
      <ng-template [ngIf]="isHome">
        <app-scenario-table></app-scenario-table>
      </ng-template>
      <ng-template [ngIf]="isAuto">
        <app-scenario-table></app-scenario-table>
      </ng-template>
    </mat-tab>

    <mat-tab label="About">
      <div id="description-wrapper">
        <div id="description">
          Mymyc is a reusable test data management solution, providing a pleasing user experience for those who need to generate synthetic test data for varying business scenarios. It uses an Angular frontend and a python + flask backend to handle requests and generate realistic synthetic data, in a matter of seconds!
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Members" id="members">
      <mat-list>

        <div class="list-obj-wrapper">
          <div mat-subheader>Kareem</div>
          <mat-list-item>
            <mat-icon mat-list-icon>face</mat-icon>
            <div mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in lacus accumsan, pulvinar libero ac, ultricies nibh.</div>
          </mat-list-item>
        </div>


        <mat-divider></mat-divider>

        <div class="list-obj-wrapper">
          <div mat-subheader>Sujasri</div>
          <mat-list-item>
            <mat-icon mat-list-icon>face</mat-icon>
            <div mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in lacus accumsan, pulvinar libero ac, ultricies nibh.</div>
          </mat-list-item>
        </div>


        <mat-divider></mat-divider>

        <div class="list-obj-wrapper">
          <div mat-subheader>Kishore</div>
          <mat-list-item>
            <mat-icon mat-list-icon>face</mat-icon>
            <div mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in lacus accumsan, pulvinar libero ac, ultricies nibh.</div>
          </mat-list-item>
        </div>


        <mat-divider></mat-divider>

        <div class="list-obj-wrapper">
          <div mat-subheader>Balaji</div>
          <mat-list-item>
            <mat-icon mat-list-icon>face</mat-icon>
            <div mat-line>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in lacus accumsan, pulvinar libero ac, ultricies nibh.</div>
          </mat-list-item>
        </div>


      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
