/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import './app/scenario-table/scenario-table.component.css';
/* @import '~material-design-icons/iconfont/material-icons.css'; */

/* @import '~material-design-icons/iconfont/material-icons.css'; */

body,html{
    width: 100%;
    height: 100%;
    /* height: auto; this was causing wacko issues for some reason... */

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
    margin:0px;
    padding:0px;
    background: #57606f;
}

html {
    --scrollbarBG: rgb(66, 66, 66);
    --thumbBG: #CFD8DC;
}

app-root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mat-progres-bar{
    height: 8px;
    display: absolute;
    top:0;
}

.mat-form-field-infix{
    border:0px;
}

.mat-table{
    /* overflow: hidden; */
    border-radius: 5px;
    /* min-width: 450px; */
}

.mat-row,
.mat-header-row {
    /* display: table-row; */
    min-width:100px !important;
    height: 50px;
    /* text-align: center !important; */
    padding: 5px 25px !important;
}

.mat-cell,
.mat-header-cell {
    min-width:150px !important;
    height: 30px !important;
    padding: 25px !important;

    text-align: center !important;
}

.test{
    text-align: left !important;
}

.mat-button{
    margin: 0px 10px !important;
}

.sticky{
    text-align: left !important;
}

.mat-list-base .mat-list-item{
    height:initial !important;
}

 .mat-list-base .mat-list-item .mat-list-item-content{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.mat-list-base .mat-subheader{
    font-size: 18px;
}

.mat-list-base .mat-list-item .mat-line{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}

.mat-list-base {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.mat-tab{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-tab-body{
    /* padding: 25px 0px !important; */
}

.mat-paginator{
    position: sticky;
    left: 0;
    /* bottom: 0; */
    /* width: inherit; */

}

.mat-divider{
    width: 50%;
}

.list-obj-wrapper{
    width: 50%;
    overflow: auto;
    word-wrap: normal !important;
    margin: 10px 0px;
}

th.mat-header-cell{
    font-size:14px;
}

.tab-opened{
    margin:25px 0px 0px 0px !important;
}

.tab-opened-hide{
    display:none !important;
}

.tab-opened-shrink{
    font-size: calc((.75vw + 6.5vh) / 2) !important;
}

.tab-opened-decenter{
    height: fit-content !important;
}

.isNotLoading{
    width: 100%;
    display:block;
}

.isLoading{
    display: block;
}