/* could bunch this into one import but uhhhh that wasnt working... */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

table{
    width: 100%;
}

#form-junk{
    width: 85% !important;
    display: flex !important; 
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

#form-junk #user-specified-data{
    margin: 0px 10px !important;
}

#table-wrapper {
    /* height: 400px; */
    width: 95%;
    /* max-width: 100%; */
    overflow-x: auto;
    margin:0px 0px 50px 0px !important;

}

#table-wrapper::-webkit-scrollbar {
    width: 1px;
    height:12px;
}

#table-wrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

#table-wrapper::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

#table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 8px;
    border: 3px solid var(--scrollbarBG);
}
/*   
  table {
    width: 100%;
  } */
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }

mat-tab-group{
    width: 100%;
}

.mat-tab-label {
    /* min-width: 18px !important; */
}

#nested-tab-holder{
    background:none !important;
    border:none !important;
    padding:0px !important;

    color: #e3e5e7 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#nested-tab-holder:hover{
    cursor: pointer;
}

#header-wrap{
    margin:25px 0px;
    padding:0px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#header-wrap h2{
    width:100%;

    text-align: center;
    margin: 0px 0px 0px 0px;

    /* font-family: 'Bungee', cursive; */
    /* font-family: 'Bungee Shade', cursive; */
    font-family: 'Monoton', cursive;
    /* font-family: 'Rubik', sans-serif; */

    font-size: calc(.75vw + 6.5vh);
    color: #222f3e;
    text-shadow: 4px 0 0 #cfd8dc, -4px 0 0 #cfd8dc, 0 4px 0 #cfd8dc, 0 -4px 0 #cfd8dc, 3px 3px #cfd8dc, -3px -3px 0 #cfd8dc, 3px -3px 0 #cfd8dc, -3px 3px 0 #cfd8dc;
}

#header-wrap p{
    font-weight: 300;
    margin:calc(-1 * 1.5vh + -1 * .25vw) 0px 0px 0px; /*lets obsfucate the fuck out of font sizings*/
    padding:0;

    font-family: 'Roboto Mono', monospace;

    
    font-size: calc(.2vw + 1.5vh);
    color: #cfd8dc;
    /* text-shadow: .5px 0 0 #cfd8dc, -.5px 0 0 #cfd8dc, 0 .5px 0 #cfd8dc, 0 -.5px 0 #cfd8dc, .25px .25px #cfd8dc, -.25px -.25px 0 #cfd8dc, .25px -.25px 0 #cfd8dc, -.25px .25px 0 #cfd8dc; */
}

#table-tab-wrapper, #description-tab-wrapper,  #members-tab-wrapper{
    padding: 25px 0px;
}

#table-tab-wrapper{
    width: 100% !important;

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#description-tab-wrapper{
    width: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description{
    height: 100%;
    width: 40%;

    color: rgb(227,229,231);
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: light;

    padding: 50px;
    background: #424242;
    border-radius: 5px;
}

#temp-flex{
    width:100%;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mimic-logo{
    /* margin-bottom: -40px; */
    margin-right: -20px;
}

#temp-flex img{
    width: 12vw;
    height: 12vh;
}